<p>grid-list-dynamic works!</p>

<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>

<p>-----------</p>

  <mat-grid-list cols="5" rowHeight="35px">
    <mat-grid-tile colspan="5" rowHeight="2px">    </mat-grid-tile>
    <mat-grid-tile>Employee Info</mat-grid-tile>
    <mat-grid-tile>SSN</mat-grid-tile>
    <mat-grid-tile>Pay Schedule</mat-grid-tile>
    <mat-grid-tile>Pay Period</mat-grid-tile>
    <mat-grid-tile>Pay Date</mat-grid-tile>
  </mat-grid-list>

  <table border="1">
    <tr>
      <th colspan="4">ABC Company</th>
      <th colspan="2">Earnings Statement</th>
    </tr>
    <tr>
      <td>Employee Info</td>
      <td>SSN</td>
      <td>Pay Schedule</td>
      <td>Pay Period</td>
      <td>Pay Date</td>
    </tr>
    <tr>
      <td>John Doe<br/>Employee ID: 637508<br/>402 E. Jackson Road<br/>Murfreesboro TN 37127</td>
      <td>XXX-XX-4639</td>
      <td>Weekly</td>
      <td>Aug 03, 2020 to Aug 10, 2020</td>
      <td>Aug 16, 2020</td>
    </tr>
    <!-- Additional rows for Earnings -->
    <tr>
      <th colspan="5">Earnings</th>
    </tr>
    <tr>
      <th>Description</th>
      <th>Rates</th>
      <th>Units</th>
      <th>Total Current</th>
      <th>Total YTD</th>
    </tr>
    <tr>
      <td>Overtime (1.5X)</td>
      <td>$37.50</td>
      <td>10.00 hrs</td>
      <td>$375.00</td>
      <td>$17,000.00</td>
    </tr>
    <tr>
      <td>Vacation</td>
      <td>$37.50</td>
      <td>-</td>
      <td>$0.00</td>
      <td>$1,275.22</td>
    </tr>
    <!-- Additional rows for Taxes/Deductions -->
    <tr>
      <th colspan="5">Taxes / Deductions / Withholdings</th>
    </tr>
    <tr>
      <th>Description</th>
      <th>Total Current</th>
      <th>Total YTD</th>
    </tr>
    <tr>
      <td>Federal Income Tax</td>
      <td>$91.33</td>
      <td>$3,251.22</td>
    </tr>
    <tr>
      <td>FICA - Social Security</td>
      <td>$61.63</td>
      <td>Earnings Statement Stub Number: 1694</td>
    </tr>
    <!-- Additional rows for Totals -->
    <tr>
      <th>Gross Pay</th>
      <th>Taxes/Deductions/Withholdings Total Current</th>
      <th>Taxes/Deductions/Withholdings Total YTD</th>
    </tr>
    <tr>
      <td>$144,500.00</td>
      <td>$33,352.64</td>
      <td>$111,147.36</td>
    </tr>
  </table>